<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkR0MdCl-kZrjDW7h83pALlUvB7tN0gD0</string>
	<key>GCM_SENDER_ID</key>
	<string>862823942685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appiot</string>
	<key>PROJECT_ID</key>
	<string>appiot-da23c</string>
	<key>STORAGE_BUCKET</key>
	<string>appiot-da23c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862823942685:ios:fa79a90a02ce0e80a6d4f4</string>
	<key>DATABASE_URL</key>
	<string>https://appiot-da23c-default-rtdb.firebaseio.com</string>
</dict>
</plist>